<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Fortune Cookie</title>
</head>
<body>
  <div class="container-fluid">
    <div class="card" style="width: 18rem;" action="/" method="POST">
        <img src="/IMG/Cookie3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Are You Ready To Know Your Future?</h5>
          <p class="card-text">....</p>
          <button class="btn btn-danger" type="submit" name="submit" >Open Cookie</button>
        </div>
      </div>
  </div> 
</body>
</html>